@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3f2fd;
}

.download-btn {
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 6px;
    padding: 16px 25px;
    background-color: #4a98f7;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease;
}

.download-btn:hover {
    background: #2382f6;
}

.download-btn .icon {
    font-size: 2rem;
}

.download-btn .text {
    font: 1.6rem;
    padding-left: 10px;
}

.download-btn.timer {
    color: #000;
    background: none;
    box-shadow: none;
    font-size: 1.6rem;
    pointer-events: none;
    transition: none;
}

.download-btn.timer b {
    color: #4A98F7;
    padding: 0 8px;
}